*, *::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: sans-serif;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: black;
    height: 50px;
}
li .dropdown{
    display: flex;
    align-items: center;
}
.container {
    position: relative;
    height: 935px;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: #fff;
}
.container img{
    width: 100%;
}

nav{
    padding: 5px 0;
    margin-top: 15px;
    position: sticky;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    padding-right: 40px;
    list-style-type: none;
    align-items: cenetr;
}
ul li{
    margin-right: 10px;
    margin-bottom: 20px;
}
ul li a{
    position: relative;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
ul li a::after{
    content: '';
    background: red;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    transform: translate(-50%, -5px);
    transition: 0.3s;
}
ul li a:hover::after{
    width: 50%;
}
.site_container{
    position: absolute;
    bottom: 15%;
    color: #fff;
    margin-left: 60px;
}
.site_container h1{
    font-size: 100px;
    line-height: 120px;
}

.site_container p{
    margin-top: 30px;
    font-size: 18px;
}
.site_container .row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.row a{
    align-items: center;
    padding: 5px 20px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 18px;
    transition: 0.3s;
    margin-right: 20px;
}
.row a:hover{
    background-color: #fff;
    color: black;
}
.row span{
    display: flex;
    align-items: center;
    font-size: 19px;
}
.welcome-message{
    font-size: 30px;
}
.main_catalogue{
    display: grid;
    grid-template-columns: 1fr 2fr;
    flex-direction: row;
    justify-content: center;
    width: 1050px;
    flex-wrap: wrap;
    margin: 0 auto;
}
#nom_voit{
    font-size: 30px;
    text-align: center;
}
.main_catalogue p{
    margin-left: 23px;
    margin-bottom: 23px;
    font-size: 20px;
    
}
h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.main_catalogue img{
    height: 400px;
    width: 500px;
    object-fit: cover;
    margin: 25px;
    
    transition: transform 0.3s ease;
}
.main_catalogue img:hover {
    transform: scale(1.03);
}
.vente{
    border: solid;
    margin: 5px;
}
footer {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    text-decoration: none;
    height: 50px;
}
.mmidiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: flex-start;
    gap: 10px;
    color:white;
}
.formulaire{
    width: 300px;
    margin: 0 auto;
}
#entête{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;
    color: white;
}
#entête input{
    height: 30px;
}


#email input{
    display: flex;
    justify-content: start;
    height: 30px;
    width: 292px;
}

#message textarea{
    display: flex;
    justify-content: start;
    max-width: 297px;
    min-width: 297px;
    height: 50px;
    max-height: 262px;
    min-height: 262px;
    color: white;
}
#envoyer input{
    width: 300px;
    border-radius: 10px;
    background-color: red;
    margin-top: 10px;
    height: 30px;
    margin-bottom: 400px;
}
#imagefond{
    position: absolute;
    left: 0;
    width: 100%;
    box-shadow: 0 0 20px black;
    z-index: -1;
}
#entete label{
    color: black;
}
#rr{
    margin: 5px;
    color: white;
}
#rrr{
    margin: 5px;
    color: white;
}
#rrrr{
    color: white;
    margin: 5px;
}
label{
    color: white;
}